on early-init
    start ueventd

on init
    export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /boot
    mkdir /sdcard
    mkdir /sd-ext
    mkdir /datadata
    mkdir /emmc
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /internalmmc
    mount /tmp /tmp tmpfs

    mount ext4 /dev/block/mmcblk0p15 /internalmmc nosuid nodev noatime barrier=1 discard,noauto_da_alloc,journal_async_commit
    start losetup_system
    wait /sys/devices/virtual/block/loop2/loop/backing_file
    start losetup_data
    wait /sys/devices/virtual/block/loop3/loop/backing_file
    start losetup_cache
    wait /sys/devices/virtual/block/loop4/loop/backing_file

on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

# exec /sbin/busybox losetup /dev/block/loop2 /internalmmc/media/multiboot/CM9/system.ext4.img
service losetup_system /sbin/busybox losetup /dev/block/loop2 /internalmmc/media/multiboot/CM9/system.ext4.img
        user root
        disabled
        oneshot

# exec /sbin/busybox losetup /dev/block/loop3 /internalmmc/media/multiboot/CM9/data.ext4.img
service losetup_data /sbin/busybox losetup /dev/block/loop3 /internalmmc/media/multiboot/CM9/data.ext4.img
        user root
        disabled
        oneshot

# exec /sbin/busybox losetup /dev/block/loop4 /internalmmc/media/multiboot/CM9/cache.ext4.img
service losetup_cache /sbin/busybox losetup /dev/block/loop4 /internalmmc/media/multiboot/CM9/cache.ext4.img
        user root
        disabled
        oneshot

service recovery /sbin/recovery

service adbd /sbin/adbd recovery
    disabled

# Always start adbd on userdebug and eng builds
# In recovery, always run adbd as root.
on property:ro.debuggable=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18D1
    write /sys/class/android_usb/android0/idProduct D001
    write /sys/class/android_usb/android0/functions adb
    #write /sys/class/android_usb/android0/enable 1
    write /sys/class/android_usb/android0/iManufacturer $ro.product.manufacturer
    write /sys/class/android_usb/android0/iProduct $ro.product.model
    write /sys/class/android_usb/android0/iSerial $ro.serialno
    #start adbd
    setprop service.adb.root 1

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1
